.navbar {
  width: fit-content;
  margin-inline: auto;
  justify-content: center;
  background-color: #1e293ba8;
  padding: 1rem 2rem;
}

.navbar-container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 2rem;

  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #38bdf8;
}

.nav-links a.active {
  color: #38bdf8;
}
