.homeContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: white;
}

.headerContainer {
  padding: 0;
  justify-content: center;
  align-items: center;
}

.mainContaier {
  padding: 0;
  justify-content: center;
  align-items: center;
}

.mainHome {
  text-align: center;
}

.mainHome h1 {
  margin: 0;
  padding: 0;
}

.symbolContainer {
  position: relative;
  z-index: 10;
}

.symbol {
  position: absolute;
  z-index: 5;
}
